<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
     <style>
      body {
        background-color: #fbd13a;
        }


     </style>
</head>
<body>
    <a href=..> <img class=”image” src="static/givetake.gif" ></a>
    <br>
    <form method="POST" action="{{ url_for('add_product') }}" enctype="multipart/form-data">
        <input type="text" name="name" id="name" required>
        <label for="name">שם מלא</label><br><br>
        <textarea name="details" id="details" rows="5"></textarea>
        <label for="details">פרטים על המוצר</label><br><br>
        <input type="text" name="tel" id="tel" required>
        <label for="tel">מספר טלפון</label><br><br>
        <input type="file" name="picture" id="picture" accept="static/image/*">
        <label for="picture">הוסף תמונה</label><br><br>
        <input type="submit" style=background-color:#5ce1e6;border-color:#5ce1e6 value="הוסף מוצר">
    <br>
    </form>
</body>
</html>
