<!doctype html>
<html>
<head>
    <title>Add Product</title>
     <style>
      body {
        background-color: #fbd13a;
        }
      @media only screen and (min-width: 768px) {
        .product {
          width: 20%;
          margin-right: 5%;
          margin-bottom: 5%;
          display: inline-block;
        }

     </style>
</head>
<body>
    <img class=”image” src="static/givetake.gif" >
    <br>
    <form method="POST" action="{{ url_for('add_product') }}" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required><br><br>
        <label for="details">Details:</label>
        <textarea name="details" id="details" rows="5"></textarea><br><br>
        <label for="tel">Tel Num:</label>
        <input type="text" name="tel" id="tel" required><br><br>
        <label for="picture">Picture:</label>
        <input type="file" name="picture" id="picture" accept="static/image/*"><br><br>
        <input type="submit" value="Add Product">
    </form>
</body>
</html>
