<!doctype html>
<html>
  <head>
    <title>Product List</title>
  </head>
  <body>
  <img class=”image” src="static/givetake.gif" >

    <ul>
      {% for product in products %}
        <li>
          <h2>{{ product['name'] }}</h2>
          <p>{{ product['details'] }}</p>
          {% if product['picture_id'] %}
            <img src="{{ url_for('picture', picture_id=product['picture_id']) }}" height="100">
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <a href="{{ url_for('add_product') }}"><button>Add Product</button></a>
  </body>
</html>
